# datasets
data/
src/bb1.py

*.zip

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# virtual environments
venv/
.venv/

# binaries / generated artifacts
*.dll
*.exe
*.bin
*.so

# logs
*.log

# env file
.env