# datasets
data/

# specific files
src/bb1.py
src/false_positives_autopsy.csv
*.zip

# directories
common_folder/
redundant_scripts/
model/
_archive/

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# virtual environments
venv/
.venv/

# binaries / generated artifacts
*.dll
*.exe
*.bin
*.so

# logs
*.log

# env file
.env